* {
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
  transition: 1s !important;
}

body {
  background-image: url("https://picsum.photos/900/900?blur=9") !important;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
html,
body,
#root {
  height: 100vh !important;
}
:root {
  --theme-color: #ff4545;
}

a> svg:hover {
  color: var(--theme-color);
}
a:hover{
  text-decoration: none !important;
}